<%- include('../Layouts/Header') %>

      <!--begin::App Main-->
      <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">View Blog</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">View Blog</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <div class="card mb-4">
              <div class="card-header row">
                <h3 class="card-title col-sm-6">Blog Data Table</h3>

        
            </div>
              <!-- /.card-header -->
              <form action="/dashboard/deleteMultiBlog" method="post">
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th style="width: 120px"><input type="checkbox" id="checkAll"><span style="margin: 0 10px;">Select All</span></th>
                        <th style="width: 10px">#</th>
                        <th>Blog Title</th>
                        <th>Blog Category</th>
                        <th>Status</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <% BlogData.map((v, i) => { %>
                             <tr>
                                <td><input type="checkbox" name="Ids" value="<%= v.id %>"></td>
                                 <td><%= i+1 %></td>
                                 <td><%= v.blogTitle %></td>
                              
                                 <td class="<%= v.status? 'text-success':'text-danger'  %>"><%= v.status? 'Active':'Deactive' %></td>
                                 <td><img src="<%= v.blogImage %>" alt="<%= v.blogImage %>" width="200px"></td>
                                 <td><%- v.description %></td>
                                 
                                 <td>
                                     <a href="/dashboard/deleteBlog/?blogId=<%= v.id %>"><i class="bi bi-trash"></i></a> ||
                                     <a href="/dashboard/updateBlog/<%= v.id %>"><i class="bi bi-pencil-square"></i></a>||
                                     <a href="/dashboard/changeStatus/?blogId=<%= v.id %>&status=<%= !v.status?true:false %>" class="btn <%= v.status? 'btn-danger':'btn-success' %>"><%= v.status? 'Deactivate':'Activate' %></a>
                                 </td>
                             </tr>
                        <% })%>
                     </tr>
                    </tbody>
                  </table>
  
                  <div class="mt-3" id="multyDeleteBtn">
                    <button class="btn btn-danger" type="submit">Delete</button>
                  </div>
  
                </div>
              </form>
              <!-- /.card-body -->
               
              <nav aria-label="..." class="d-flex justify-content-center mt-2">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link <%= parseInt(Page) <= 0 ? 'disabled' : '' %>" href="?page=<%= parseInt(Page) -1 %>">Previous</a></li>
                  <li class="page-item" aria-current="page">
                    <a class="page-link" href="?page=<%= Page %>"><%= parseInt(Page) + 1 %></a>
                  </li>
                  <li class="page-item"><a class="page-link <%= parseInt(Page) == TotalCounts-1 ? 'disabled' : '' %>"" href="?page=<%= parseInt(Page) + 1 %>">Next</a></li>
                </ul>
              </nav>

            </div>
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->
      </main>
      <!--end::App Main-->

<%- include('../Layouts/Footer') %>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>

    $("#multyDeleteBtn").hide();

    $("#checkAll").click(function () {
      $('input:checkbox').not(this).prop('checked', this.checked);
      $("#multyDeleteBtn").toggle();
    });
</script>